<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pending Approvals</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        padding: 20px;
        background-color: #f8f9fa;
        font-size: smaller;
      }
      .container {
        max-width: 1200px;
        margin: auto;
      }
      .table-container {
        margin-top: 20px;
      }
      table {
        width: 100%;
        margin-bottom: 20px;
      }
      th,
      td {
        text-align: center;
        vertical-align: middle;
      }
      .form-inline {
        display: flex;
        flex-direction: row;
        gap: 15px;
      }
      .form-inline input {
        width: 100px;
      }
      .btn-action {
        margin-top: 0px;
      }
      .btn-approve {
        background-color: #28a745;
        color: white;
      }
      .btn-reject {
        background-color: #dc3545;
        color: white;
      }
      .small-input {
        /* width: 100px; Adjust the width as needed */
        height: 30px; /* Adjust the height as needed */
        padding: 0.2rem; /* Adjust the padding as needed */
      }
      .btnView {
        background-color: #8d8e8f;
        color: white;
      }
      .navbar {
        font-size: 0.9rem;
        height: 50px; /* Adjust based on the height of your navbar */
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="">
          <img
            src="https://sangamgroup.com/wp-content/uploads/2023/01/sangam_group_logo.png"
            alt="Logo"
            width="50"
            height="43"
          />
          Sangam India Limited
        </a>
        <a
          href="/releaser3-dashboard"
          class="nav-link"
          style="color: white; margin-left: 800px"
          >Pending Status</a
        >
        <a href="/releaser3" class="nav-link" style="color: white"
          >Your Dashboard</a
        >
        <a href="/logout" class="nav-link" style="color: white">Logout</a>
      </div>
    </nav>
    <div class="container mt-5">
      <h4 class="text-center">Pending Approvals</h4>
      <div class="table-container">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Plant</th>
              <!-- <th>Profit Center</th> -->
              <th>Date Of Requisition</th>
              <!-- <th>Type</th> -->
              <!-- <th>Material Code</th> -->
              <th>Description</th>
              <th>Qty</th>
              <!-- <th>Purchase Type</th> -->
              <th>Total Cost</th>
              <!-- <th>Payback Period</th> -->
              <th>View Full Form</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% requisitions.forEach(req => { %>
            <tr>
              <!-- <td><%= req.id %></td> -->
              <td><%= req.plant %></td>
              <!-- <td><%= req.profitCenter %></td> -->
              <td>
                <%= new Date(req.dateOfRequisition).toLocaleDateString('en-GB')
                %>
              </td>
              <!-- <td><%= req.type %></td> -->
              <!-- <td><%= req.materialCode %></td> -->
              <td><%= req.description %></td>
              <td><%= req.qty %></td>
              <!-- <td><%= req.purchaseType %></td> -->
              <td><%= req.totalCost %></td>
              <!-- <td><%= req.paybackPeriod %></td> -->
              <td>
                <div>
                  <form action="/view/<%= req.id %>" method="get">
                    <button type="submit" class="btn-sm btn btn-link">
                      View Form
                    </button>
                  </form>
                </div>
              </td>
              <td>
                <div class="form-inline">
                  <input
                    type="text"
                    name="comments"
                    class="form-control small-input"
                    placeholder="Comments"
                  />
                  <form
                    action="/approve3/<%= req.id %>"
                    method="POST"
                    style="display: inline"
                  >
                    <button
                      type="submit"
                      class="btn btn-approve btn-action btn-sm"
                    >
                      Approve
                    </button>
                  </form>
                  <form
                    action="/reject3/<%= req.id %>"
                    method="POST"
                    style="display: inline"
                  >
                    <button
                      type="submit"
                      class="btn btn-reject btn-action btn-sm"
                    >
                      Reject
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
